body {
  background-color: whitesmoke;
  font-family: "Bitter", serif;
}

.btn-container {
  float: left;
}

.weather-container {
  background-color: salmon;
}

.forecast-container {
  background-color: springgreen;
}
